ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: white;
    flex-wrap: wrap;
}

li {
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    text-align: center;
    transition: background-color 0.3s ease;
}

li a:hover {
    background-color: skyblue;
}
